extends common/layout

block layout-content
  section#about-section
    h2 About Whisked wonders
    p Welcome to Whisked Wonders, where every cake is a masterpiece and every bite is a moment of joy. Our passion for baking and commitment to quality drive us to create the most delectable and visually stunning cakes. Located in the heart of Toronto, our bakery is a haven for cake lovers, offering a wide range of exquisite creations tailored to delight your taste buds and elevate your celebrations.
    h2 Our Offerings
    p Whether you’re celebrating a birthday, wedding, anniversary, or any special moment, we have the perfect cake for you. Our menu features a variety of flavors and styles, including:
    ul 
      li 
        p <strong>Classic Chocolate Fudge Cake:</strong> A rich and moist chocolate cake with a smooth chocolate ganache frosting.
      li 
        p <strong>Red Velvet Cake:</strong> A striking red cake with a velvety texture and tangy cream cheese frosting.
      li 
        p <strong>Carrot Cake:</strong> A flavorful cake packed with fresh carrots and walnuts, topped with luscious cream cheese frosting.
    p In addition to our signature cakes, we offer custom designs to suit your unique preferences and themes. Our talented bakers and decorators work closely with you to create a cake that not only tastes amazing but also captures the essence of your celebration.
    h2 Visit us! 
    p Come visit us at 567 College St., Toronto M6B 2N7, and discover the magic of Whisked Wonders. We can't wait to whisk up something wonderful for you! 





