extends common/layout

block layout-content 
  .main-content 
    h1.page-title Welcome to Whisked wonders!
    p At Whisked Wonders, we bring your sweetest dreams to life with our exquisite, handcrafted cakes,
    p Indulge in perfection. Celebrate with Whisked Wonders.


 



    