header#header
    h2#site-name 
        a(href="/") Whisked Wonders
    nav
        ul
            li
                a(href='/') Home
            li
                a(href='/products') Cakes
            li
                a(href='/about') About
            li
                a(href='/add') Admin
